language: ruby
cache: bundler
rvm:
- 2.4.5
bundler_args: "--without integration"
before_script:
- bundle exec berks
install:
- travis_wait bundle install
script:
- bundle exec rake
deploy:
  edge: true
  provider: chef-supermarket
  user_id: nacx
  cookbook_name: abiquo
  cookbook_category: Operating Systems & Virtualization
  client_key: .travis/client.pem
  on:
    tags: true
before_install:
- openssl aes-256-cbc -K $encrypted_7a28c7a50c90_key -iv $encrypted_7a28c7a50c90_iv
  -in .travis/client.pem.enc -out .travis/client.pem -d
